/* Reset */

@font-face {
    font-family: 'myFont';
    src: url('../font/puhui.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myFontL';
    src: url('../font/puhuiL.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myFontH';
    src: url('../font/puhuiH.ttf');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    cursor:url(/font/cursor.ico),default;
}

a:hover{cursor:url(/font/cursorlink.ico),pointer;}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Grid */
html,
body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.6em;
    font-family:'myFont';
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #0A101E;
    padding-top: 56px;
    box-sizing: border-box;
}


.wrapper.article-list {
    background: #0A101E;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    background: #0A101E;
    text-align: center;
    z-index: 10;
}

#header .logo {
    position: absolute;
    left: 0;
    top: 70%;
    transform: translateY(-50%);
    border: 0;
    display: inline-block;
    line-height: inherit;
    color: #fff;
    text-decoration: none;
    padding: 0 24px;
    font-size: 1.4rem;
    font-family: 'myFontH';
}

#header .logo:hover {
    color: rgb(246, 113, 255);
}

#header #menu {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    height: 140%;

}

#header #menu li {
    display: inline-block;
    padding: 0 40px;

}

#header #menu li a:hover {
    color: rgb(246, 113, 255);

}

#header #menu li a {
    display: block;
    color: #fff;
    position: relative;
    padding: 7px 5px;

}

#header #menu li a.active::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    width: 20px;
    height: 4px;
    background: rgb(246, 113, 255);
}

#main {
    padding: 16% 13%;
    display: flex;
    flex-direction: column;

}

#main h1 {
    font-size: 80px;
    font-family: 'myFontH';
    color: #fff;
}

#main h1:after {
    content: '';
    display: block;
    width: 300px;
    height: 4px;
    background: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}


